.MainContainer {
  align-items: center; 
  display: flex;
  justify-content: center; 
  height: 100%;
  width: 100vw; 
}

.Form {
  align-items: center;
  background-color: #DB504A;
  border-radius: 10px;
  display: flex;
  height: 22em;
  justify-content: center;
  max-width: 40em;
  min-width: 13em;
  padding: 1.75em;
  width: 40vw;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

.selectbar {
  align-self: flex-start;
  background-color: #DB504A;
  border: 2px solid #E3B505;
  border-radius: 5px;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  height: 2em;
  letter-spacing: 0.15em;
  width: max-content;
}

.input {
  position: relative;
}

.textarea {
  background-color: #DB504A;
  border: 2px solid #E3B505;
  border-radius: 5px;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  height: 10em;
  max-width: 17em;
  min-width: 12em;
  transform: translateY(0%);
  transition: transform 500ms linear;
  width: 75vw;
}

.textarea:focus {
  border: 2px solid #E3B505;
  outline: none;
  padding: 0.5em;
}

.textarea:focus + label {
  background-color: #DB504A;
  transform: translateY(-80%);
}

.textarea:valid {
  font-size: clamp(0.9em, 10%, 1.25em);
  letter-spacing: 0.15em;
  outline: none;
  padding: 0.5em;
}

.textarea:valid + label {
  background-color: #DB504A;
  transform: translateY(-80%);
}

.forminput {
  background-color: #DB504A;
  border: 2px solid #E3B505;
  border-radius: 5px;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  height: 2em;
  max-width: 17em;
  min-width: 12em;
  transition: transform 1s linear;
  width: 75vw;
}

.forminput:focus {
  border: 2px solid #E3B505;
  outline: none;
  padding: 1em;
}

.forminput:focus + label {
  background-color: #DB504A;
  transform: translateY(-80%);
}

.forminput:valid {
  font-size: clamp(0.9em, 10%, 1.25em);
  letter-spacing: 0.15em;
  outline: none;
  padding: 0.5em;
}

.forminput:valid + label {
  background-color: #DB504A;
  transform: translateY(-80%);
}

.label {
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  left: 1em;
  letter-spacing: 0.15em;
  position: absolute;
  top: 0.25em;
}

.submit {
  background-color: #E3B505;
  border-radius: 15px;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  height: 3.5em;
  width: 10em;
}

@media (min-width: 540px) {
  .Form {
    min-width: 20em;
  }

  .textarea {
    max-width: 24em;
  }

  .forminput {
    max-width: 24em;
  }
}

@media (min-width: 768px) {
  .Form {
    min-width: 24em;
  }

  .textarea {
    max-width: 28em;
  }

  .forminput {
    max-width: 28em;
  }
}