.MainContainer {
  display: grid;
  align-content: center; 
  justify-content: center; 
  width: 100vw; 
  height: 100vh;
}

.Form {
  background-color: #DB504A;
  border-radius: 10px;
  display: grid; 
  align-content: center;
  height: 22em; 
  padding: 1.75em;
  justify-content: center;
  width: 40vw; 
}

.selectbar {
  border-radius: 5px;
  height: 2em;
  margin-bottom: 3em;
  width: 10vw;
}

.textarea {
  border-radius: 10px;
  height: 10em;
  margin-bottom: 1em;
  width: 30vw;
}