.CommentsContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 2em auto;
  width: 100%;
}

.postcontainer {
  align-items: center;
  background-color: #56A3A6;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 36em;
  justify-content: flex-start;
  max-width: 40em;
  min-width: 13em;
  overflow: auto;
  padding: 0 1.75em 1.75em 1.75em;
  width: 40vw;
}

.postcontent {
  align-self: center;
  background-color: #ffffff;
  border-radius: 10px;
  color: #4F6D7A;
  height: 17em;
  min-height: 17em;
  margin: 1em 0;
  max-width: 35em;
  min-width: 11em;
  overflow: auto;
  padding: 0 1em;
  width: 85%;
}

.addcommentcontainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
}

.commenttext {
  border-radius: 10px;
  height: 8em;
  margin: 1em 0 0.5em 0;
  max-width: 35em;
  min-width: 11em;
  padding: 0 1em;
  transition: transform 1s linear;
  width: 85%;
}

.commenttext:focus {
  color: #4F6D7A;
  outline: none;
  padding: 0.5em;
  width: 92%;
}

.commenttext:focus + label {
  background-image: linear-gradient(
    to bottom, 
    #56A3A6 25%, 
    white 75%
  );
  transform: translateY(-100%);
  width: 4em;
}

.commenttext:valid {
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 0.1em;
  padding: 0.5em;
  width: 92%;
}

.commenttext:valid + label {
  background-image: linear-gradient(
    to bottom, 
    #56A3A6 25%, 
    white 75%
  );
  transform: translateY(-100%);
}

.commentlabel {
  left: 0.5em;
  position: absolute;
  top: 1.5em;
}

.commentbtn {
  background-color: #E3B505;
  border-radius: 15px;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  height: 3.5em;
  margin-bottom: 0.5em;
  width: 10em;
}

.commentcontainer {
  align-items: baseline;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: max-content;
  justify-content: center;
  margin-bottom: 0.5em;
  max-width: 35em;
  min-width: 11em;
  padding: 0 1em;
  width: 85%;
}

.commentusername {
  margin: 0.5em 0;
}

.commentcontent {
  margin-bottom: 0.5em;
  margin-top: 0;
  text-align: left;
}