.NavBarContainer {
  align-items: center;
  background-color: #084C61;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

li {
  color: #ffffff;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.5em;
  display: inline;
  list-style: none;
  margin: 1em;
}

.logo {
  margin: .75em 1.25em;
  width: 8vw;
}

.navlinks {
  flex-flow: column;
}

.RegisterContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content {
  align-items: center;
  margin-top: 2em;
}

.postbarlink {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  height: 2em;
  padding: .75em .5em .5em .5em;
}

.input {
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5 0 black;
  height: 2em;
  width: 30vw;
}

.register {
  background-color: #E3B505;
  border-radius: 15px;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  height: 3.5em;
  margin-left: 26em;
  width: 10em;
}