html, body {
  margin: 0;
  font-family: 'Shadows Into Light Two', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: max-content;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: max-content;
  justify-content: center;
  margin: 0;
  width: 100%;
}

/* @media (min-width: 375px) {
  @media (min-height: 812px) {
    body {
      height: 152%;
    }
  }
}

@media (min-width: 411px) {
  @media (min-height: 731px) {
    body {
      height: 158%;
    }
  }
}

@media (min-width: 411px) {
  @media (min-height: 823px) {
    body {
      height: 152%;
    }
  }
}

@media (min-width: 540px) {
  body {
    height: 163%;
  }
}

@media (min-width: 768px) {
  body {
    height: 154%;
  }
}

@media (min-width: 1024px) {
  @media (min-height: 1366px) {
    body {
      height: 147%;
    }
  }
}

@media (min-width: 1280px) {
  body {
    height: 181%;
  }
} */