.commentcontainer {
  align-items: baseline;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: max-content;
  justify-content: center;
  margin-bottom: 0.5em;
  max-width: 35em;
  min-width: 11em;
  padding: 0 1em;
  position: relative;
  width: 85%;
}

#cancel {
  align-self: center;
}

.comments {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
