.postbuttoncontainer {
  align-self: center;
  background-color: #ffffff;
  border-radius: 5px;
  height: 2em;
  padding-bottom: 0.25em;
  position: relative;
  width: 100%;
  z-index: 1;
}

.iconbutton {
  background: none; 
  border: none; 
  color: #4F6D7A; 
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0.5em 0;
  width: fit-content;
}

.postbuttoncontainerhidden {
  align-items: center;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0em;
  display: flex;
  flex-flow: column;
  opacity: 0;
  position: absolute;
  right: -2.75em;
  transform: translateX(-82%);
  transition: transform 1s ease, opacity 1s linear;
  width: 2.15em;
}

.show {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 1s ease, opacity 1s linear;
}

#flagged {
  color: red;
}

#liked svg {
  color: yellow;
}

@media (min-width: 540px) {
  .postbuttoncontainer {
    width: 96%;
  }
}

@media (min-width: 768px) {
  .postbuttoncontainer {
    width: 94%;
  }
}

@media (min-width: 1280px) {
  .postbuttoncontainer {
    width: 92%;
  }
}