.postbuttoncontainer {
  align-self: center;
  background-color: #ffffff;
  border-radius: 5px;
  height: 2em;
  padding-bottom: 0.25em;
  position: relative;
  width: 100%;
  z-index: 1;
}

.iconbutton {
  background: none; 
  border: none; 
  color: #4F6D7A; 
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0.5em 0.25em;
  width: max-content;
}

.postbuttoncontainerhidden {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  bottom: 0em;
  display: flex;
  flex-flow: row;
  height: 2em;
  opacity: 0;
  padding-bottom: 0.25em;
  position: absolute;
  right: 0em;
  top: 1.75em;
  transform: translateY(-82%);
  transition: transform 1s ease, opacity 1s linear;
  width: max-content;
  z-index: -1;
}

.show {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 1s ease, opacity 1s linear;
}

#flagged svg {
  color: red;
}

#liked svg {
  color: yellow;
}

@media (min-width: 540px) {
  .postbuttoncontainer {
    width: 96%;
  }
}

@media (min-width: 768px) {
  .postbuttoncontainer {
    width: 94%;
  }
}

@media (min-width: 1280px) {
  .postbuttoncontainer {
    width: 92%;
  }
}