.UserContainer {
  align-items: center; 
  display: flex; 
  flex-flow: column;
  height: 100%; 
  justify-content: center;
  position: relative;
  width: 100%;
}

.btnContainer {
  align-items: flex-end;
  display: flex;
  height: max-content;
  justify-content: center;
  position: absolute;
  top: 9em;
  width: 100%;
  z-index: 2;
}

.togglebtn {
  background: none;
  border: none;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

.line {
  background-color: #4F6D7A;
  border: 2px solid #4F6D7A;
  height: 2em;
}

@media (min-width: 320px) {
  .btnContainer {
    top: 6.25em;
  }
}

@media (min-width: 360px) {
  .btnContainer {
    top: 8.25em;
  }
}

@media (min-width: 375px) {
  @media (min-height: 667px) {
    .btnContainer {
      top: 9em;
    }
  }
}

@media (min-width: 411px) {
  @media (min-height: 731px) {
    .btnContainer {
      top: 11em;
    }
  }
}

@media (min-width: 411px) {
  @media (min-height: 823px) {
    .btnContainer {
      top: 9em;
    }
  }
}

@media (min-width: 540px) {
  .btnContainer {
    top: 11em;
  }
}

@media (min-width: 768px) {
  .UserContainer {
    justify-content: flex-start;
  }

  .btnContainer {
    top: 9em;
  }
}

@media (min-width: 1024px) {
  @media (min-height: 600px) {
    .btnContainer {
      top: 7em;
    }
  }
}

@media (min-width: 1280px) {
  .btnContainer {
    top: 10em;
  }
}

@media (min-width: 1400px) {
  .btnContainer {
    top: 7em;
  }
}

@media (min-width: 1500px) {
  .UserContainer {
    justify-content: center;
  }

  .btnContainer {
    top: 12em;
  }
}