.UserContainer {
  align-items: center; 
  display: flex; 
  flex-flow: column;
  height: 100%; 
  justify-content: center;
  margin-top: 4em;
  position: relative;
  width: 100%;
}

.btnContainer {
  align-items: flex-end;
  display: flex;
  height: max-content;
  justify-content: center;
  position: absolute;
  top: 0em;
  width: 100%;
  z-index: 2;
}

.togglebtn {
  background: none;
  border: none;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

.line {
  background-color: #4F6D7A;
  border: 2px solid #4F6D7A;
  height: 2em;
}

@media (min-width: 768px) {
  .UserContainer {
    margin-top: 15em;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .UserContainer {
    margin-top: 4em;
  }
}

@media (min-width: 1280px) {
  .UserContainer {
    margin-top: 8.5em;
  }
}

@media (min-width: 1500px) {
  .UserContainer {
    justify-content: center;
  }
}