.UserContainer {
  display: grid; 
  align-content: center; 
  grid-template-rows: 100%; 
  height: 100vh; 
  justify-content: center;
  margin: 10em 0 0 0;
  width: 100vw;
}

.btncontainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: max-content;
  justify-self: center;
  position: relative;
  z-index: 2;
}

.togglebtn {
  background: none;
  border: none;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

hr {
  border-color: #4F6D7A;
  height: 2em;
  left: 4.05em;
  position: absolute;
  top: 1em;
  width: 0;
}

.logincomponent {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: max-content;
}

.signupcomponent {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: max-content;
}