.ImageContainer {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
}

.moving {
  width: 100vw;
}

.moving:first-child {
  animation-delay: 17s, 4s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadein, fadeout;
  animation-timing-function: linear;
  opacity: 1;
}

.moving:first-child,
.moving:nth-child(2) {
  height: 15.25em;
}

.moving:nth-child(2),
.moving:nth-child(3) {
  opacity: 0;
  position: absolute;
}

.moving:nth-child(2) {
  animation-delay: 6s, 10s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadein, fadeout;
  animation-timing-function: linear;
  z-index: -1;
}

.moving:nth-child(3) {
  animation-delay: 12s, 16s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadein, fadeout;
  animation-timing-function: linear;
  z-index: -2;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}