.vwbus {
  width: 100%;
}

.Container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

.postscontainer {
  align-items: baseline;
  background-color: #56A3A6;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 24em;
  justify-content: flex-end;
  margin-top: 2em;
  max-width: 40em;
  min-width: 13em;
  padding: 0 1.75em 1.75em 1.75em;
  width: 40vw;
}

.deletebutton {
  align-self: flex-end;
  background: none;
  border: none;
  position: relative;
  top: 5em;
}

.username {
  align-self: baseline;
  font-family: 'Shadows Into Light Two', cursive;
  left: 1em;
  position: relative;
  top: 1.25em;
}

.postscontent {
  align-self: center;
  background-color: #ffffff;
  border-radius: 10px;
  color: #4F6D7A;
  font-family: 'Shadows Into Light Two', cursive;
  height: 17em;
  min-height: 17em;
  margin: 1em 0;
  overflow: auto;
  padding: 0 1em;
  width: 85%;
}

@media (min-width: 360px) {
  .postscontainer {
    min-width: 16em;
  }
}

@media (min-width: 375px) {
  .postscontainer {
    min-width: 18em;
  }
}

@media (min-width: 411px) {
  .postscontainer {
    min-width: 20em;
  }
}

@media (min-width: 768px) {
  .postscontainer {
    min-width: 25em;
  }
}

@media (min-width: 1280px) {
  .postscontainer {
    min-width: 25em;
  }
}
